*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



main{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.info{
  width: 90vw;
  height: 90vh;
  border-radius: 20px;
  background-color: #474747;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.title{
  width: 100%;
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
  color: #FEBD59;
}

h3 {
  font-size: 1.9em;
  color: #FEBD59;
  padding: 10px 30px;
}

.info ul{
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  
}

.info ul li p{
  font-size: 1.3em;
  text-align: justify;
}

.imgs-info{
  display: flex;
  width: 100%;
  height: auto;
  padding: 30px 10px;
  justify-content: space-around;
  flex-wrap: wrap
}

.img{
  border: 2px solid #FEBD59;
  width: 70px;
  height: 70px;
}

.img.logo{
  border-radius: 30px;
  border: none;
}

.problemas{
  font-size: 1.5em;
  width: 100%;
  text-align: center;
}

.problemas a{
  text-decoration: none;
  color: #FEBD59;
}

span{
  color: #FEBD59;
  font-size: 1.4em;
}

img{
  width: 100%;
  height: 100%
}


@media(max-width: 680px){
  main{
    height: auto;
  }
  .info {
    height: auto;
  }
}