main{
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 40px 0;
}

.info{
  width: 85vw;
  height: auto;
  border-radius: 20px;
  background-color: #474747;
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: center;
  align-items: center;
}


h3 {
  font-size: 1.5em;
  color: #FEBD59;
  padding: 10px ;
}

.info ul{
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  
}

.info ul li p{
  font-size: 1.1em;
  text-align: justify;
}

.imgs-info{
  display: flex;
  width: 100%;
  height: auto;
  padding: 20px 10px;
  gap: 10px;
  justify-content: space-around;
  flex-wrap: wrap
}

.img{
  border: 2px solid #FEBD59;
  width: 70px;
  height: 70px;
}

.problemas{
  font-size: 1.1em;
  width: 100%;
  text-align: center;
}

.problemas a{
  text-decoration: underline;
  color: #FEBD59;
}

span{
  color: #FEBD59;
  font-size: 1.2em;
}

img{
  width: 100%;
  height: 100%
}


@media(max-width: 680px){
  main{
    height: auto;
  }
  .info {
    height: auto;
  }
}