header{
  position: fixed;
}
main{
  margin-top: 13vh;
  margin-bottom: 20vh;
  width: 100vw;
  height: calc(100% - 10vh);
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #FEBD59;
  gap: 10px;
}

main h1{
  font-size: 1.9em;
  width: 100%;
  text-align: center;
}

main h2{
  font-size: 1.5em;
  padding: 5px 10px;
  border-bottom: 3px solid #FEBD59;
}

.apps{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
  height: 100%;
}

.app{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

button{
  width: 25vw;
  padding: 8px 0;
  background-color: #554F4F;
  border-radius: 10px;
  color: #FEBD59;
  border: none;
}

.app .imagem-app{
  background-color: red;
  width: 20vw;
  height: 10vh;
  border-radius: 10px;
  border: 2px solid #FEBD59;
  margin: 5px 0;
}

.app h3{
  font-size: 1.2em;
}

.imagem-app img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}