header{
  position: fixed;
}
main{
  margin-top: 13vh;
  margin-bottom: 20vh;
  width: 100vw;
  height: calc(100% - 10vh);
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #FEBD59;
  gap: 10px;
}

main h1{
  font-size: 1.9em;
  width: 100%;
  text-align: center;
}

main h2{
  font-size: 1.5em;
  padding: 5px 10px;
  border-bottom: 3px solid #FEBD59;
}
