header{
  position: fixed;
}
main{
  margin-top: 13vh;
  margin-bottom: 20vh;
  width: 100vw;
  height: calc(100% - 10vh);
  display: flex;
  flex-direction: column;
  color: #FEBD59;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.semana{
  width: 100%;
  height: 100%;
  padding: 20px 12px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  gap: 5px;
  border-bottom: 3px solid #FEBD59;
}

.dia{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5px;
}

.data{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 3px solid #FEBD59;
  display: flex;
  justify-content: center;
  align-items: center;
}


.dataH{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #FEBD59;
  color: #000;
  border: 3px solid #f1f1f0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}


.grafico{
  display: flex;
  width: 85%;
  height: auto;
  border-radius: 10px;
  border: 2px solid #FEBD59;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}

.lateral{
  width: 30%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.diaHoje{
  width: 60px;
  height: auto;
  display: flex;
  padding: 5px 0;
  flex-direction: column;
  gap: 5px;
  border-radius: 10px;
  border: 2px solid #FEBD59;
  text-align: center;
}

.barra{
  width: 100%;
  height: 200px;
  border-radius: 10px;
  border: 2px solid #FEBD59;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


.barraGrafico{
  width: 60%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  gap: 20px;
}


.graficos{
  width: 100%;
  height: 60%;
  border-bottom: 2px solid #FEBD59;
  display: flex;
  justify-content: space-between;
}

.graficos div{
  width: 20%;
  height: 98%;
  background-color: #FEBD59;
}

.dias-armazenados{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  height: auto;
  padding: 20px;
}


.hoje-armazenado,
.ontem-armazenado{
  width: 100%;
  height: 90px;
  border-radius: 10px;
  border: 2px solid #FEBD59;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.dia-armazenado{
  width: 25%;
  height: 100%;
  border-right: 2px solid #FEBD59;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.horas-dormidas{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.carregado{
  width: 100%;
  height: 12px;
  border: 2px solid #f1f1f0;
  background-color:  #FEBD59;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.status{
  width: 25%;
  height: 100%;
  border-left: 2px solid #FEBD59;
}





