@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
  background-color: #060606;
  font-family: 'Roboto', sans-serif;
  color: white;
}

/* HEADER */
header{
  width: 100vw;
  height: 13vh;
  position: relative;
  top: 0;
  background-color: #000;
  border-bottom: 3px solid #FEBD59;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  z-index: 1000;
}


.logo {
  width: 20vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img{
  width: 100%;
  height: 100%;
}

header nav ul{
  display: flex;
  font-size: 24px;
  list-style: none;
}

header nav ul a{
  color: #FEBD59;
  display: block;
  padding: 30px;
}

#btn-mobile{
  background-color: transparent;
  border: none;
  width: 14vw;
  height: 8vh;
}

#btn-mobile img{
  width: 100%;
}

#nav ul{
  display: none;
}

#nav.active #menu{
  z-index: 10000;
  right: 5px;
  display: flex;
  flex-direction: column;
  background-color: #000;
  border: 1px solid #FEBD59;
  
}

#nav.active #menu a{
  padding: 10px;
  font-size: 0.7em;
}

#menu{
  position: absolute;
}

#nav.active #menu li{
  border: 1px solid #FEBD59;
}


/*  */



/* FOOTER */

footer{
  width: 100vw;
  height: 20vh;
  display: flex;
  position: fixed;
  background-color: #000;
  border-top: 3px solid #FEBD59;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  border-radius: 40px 40px 0px 0px;
}

footer .path{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
.p-path{
  width: 15vw;
  height: 10vh;
}
footer .p-path img{
  width: 100%;
  height: 100%;
}


.p-path.cheked img{
  opacity: .5;
}


/*  */