*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #000;
  color: #fff;
}

header{
  position: fixed;
  top: 0;
  width: 100vw;
  height: 10vh;
  background-color: #000;
  border-bottom: 1px solid #FEBD59;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}


.logo {
  width: 100px;
  height: 105px;
}

.logo img{
  width: 100%;
  height: 100%;
}

header nav ul{
  display: flex;
  font-size: 20px;
  gap: 10px;
  list-style: none;
}

a{
  text-decoration: none;
  color: #FEBD59;
  display: block;
  padding: 20px;
}

main{
  padding: 150px 10px;
  margin: 30px;
}
#btn-mobile{
  display: none;
}

/*@media (max-width: 600px){
  #btn-mobile{
    display: block;
  }

  #nav.active #menu{
    display: flex;
  }
}*/





footer{
  position: fixed;
  width: 100vw;
  height: 10vh;
  background-color: #000;
  border-top: 1px solid #FEBD59;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  border-radius: 20px 20px 0px 0px;
}

footer .path{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
}

footer .path img{
  max-width: 100px;
  max-height: 100px;
}


.p-path.cheked img{
  opacity: .5;
}
