*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #000;
  color: #fff;
}

header{
  position: fixed;
  top: 0;
  width: 100vw;
  height: auto;
  background-color: #000;
  border-bottom: 3px solid #FEBD59;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}


.logo {
  width: 60px;
  height: 60px;
}

.logo img{
  width: 100%;
  height: 100%;
}

header nav ul{
  display: flex;
  font-size: 16px;
  list-style: none;
}

a{
  text-decoration: none;
  color: #FEBD59;
  display: block;
  padding: 10px;
}

main{
  padding: 150px 10px;
  margin: 30px;

}
#btn-mobile{
  display: none;
  background-color: transparent;
  border: none;
  width: 40px;
}
#nav ul{
  display: none;
}
@media (max-width: 800px){
  #btn-mobile{
    display: block;
  }
  #menu{
    position: absolute;
  }

  #nav.active #menu{
    z-index: 1000;
    right: 5px;

    display: flex;
    flex-direction: column;
    background-color: #000;
    
  }
  #nav.active #menu li{
    border: 1px solid #FEBD59;
  }
}





footer{
  position: fixed;
  width: 100vw;
  height: auto;
  background-color: #000;
  border-top: 3px solid #FEBD59;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  border-radius: 30px 30px 0px 0px;
}

footer .path{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
}

footer .path img{
  max-width: 100px;
  max-height: 100px;
}


.p-path.cheked img{
  opacity: .5;
}
