main{
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px 0;
}

.form{
  width: 85vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  border-radius: 20px;
  border: 2px solid #FEBD59;
  margin: 10%;
  gap: 2vh;
  padding: 40px 20px;
  background-color: #2B2B2B;
}

.form form{
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: center;
}

form button{
  width: 70%;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #FEBD59;
  font-size: 1.2rem;
  background-color: #474747;
  color: #FEBD59;
}

#name,
#email{
  border-radius: 20px;
  border: 2px solid #FEBD59;
  padding: 10px;
  width: 100%;
  font-size: 1.5rem;
  background-color: #474747;
}

h3 {
  font-size: 1.5em;
}

main a{
  color: #FEBD59;
  text-decoration: underline;
}

.problemas {
  font-size: 1.2rem;
}

.informacao.checkbox{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
}

.informacao.checkbox input{
  width: 6vw;
  height: 30px;
}

