*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  color: #FEBD59;
  padding-bottom: 50px;
}
h3 {
  font-size: 1.9em;
}


.content{
  display: flex;
  gap: 2vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: calc(100vh - 30vh);
  margin: 200px 0 150px;
}

.content p{
  color: #FFBF5B;
}

.backup{
  width: 90vw;
  height: auto;
  background-color: #474747;
  padding: 25px;
  border-radius: 10px;
}

.backup p{
  font-size: 1.5em;
  color: #FEBD59;
}

.definicoes{
  width: 90vw;
  height: auto;
  background-color: #474747;
  padding: 20px;
  border-radius: 10px;
}

.definicoes .def-item{
  padding-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.definicoes .def-item .itens{
  display: flex;
  padding: 20px;
  align-items: center;
  gap: 3%;
  flex-wrap: wrap;
}


.itens p{
  font-size: 1.5em;
}

.itens img{
  width: 3em;
}



a{
  text-decoration: none;
  color: #FFBF5B;
}

.parte-borda{
  border-bottom: 4px solid #FFBF5B;
  padding: 20px 0;
}

@media (max-width: 490px){
  main{
    font-size: 0.7rem;
  }
}