
main{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  gap: 10px;
}

main h2{
  width: 100vw;
  text-align: center;
}

.backup{
  width: 85vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  background-color: #474747;
  border-radius: 10px;
  padding: 15px;
}

.backup h3,
.definicoes h3{
  color: white;
  font-size: 1.4em;
}

.backup p,
.definicoes p{
  color:#FEBD59;
  font-size: 1.2em;
}

.definicoes{
  width: 85vw;
  background-color: #474747;
  border-radius: 10px;
  padding: 15px;
}

.definicoes h3{
  padding-bottom: 10px;
}


.itens{
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon img{
  width: 8vw;
  height: 4vh;
}

.def-item{
  display: flex;
  flex-direction: column;
}

.parte-borda{
  border-bottom: 4px solid #FFBF5B;
}
.parte-borda,
.div{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px 0;

}

